<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item routerLink="/alert">
      <ion-icon name="alert" slot="start"></ion-icon>
      <ion-label>Alert</ion-label>
    </ion-item>
    <ion-item routerLink="/button">
      <ion-icon name="archive" slot="start"></ion-icon>
      <ion-label>Button</ion-label>
    </ion-item>
    <ion-item routerLink="/checkbox">
      <ion-icon name="checkbox-outline" slot="start"></ion-icon>
      <ion-label>CheckBox</ion-label>
    </ion-item>
    <ion-item routerLink="/datetimepicker">
      <ion-icon name="calendar" slot="start"></ion-icon>
      <ion-label>DateTimePicker</ion-label>
    </ion-item>
    <ion-item routerLink="/input">
      <ion-icon name="text" slot="start"></ion-icon>
      <ion-label>Input</ion-label>
    </ion-item>
    <ion-item routerLink="/badge">
      <ion-icon name="megaphone" slot="start"></ion-icon>
      <ion-label>Badge</ion-label>
    </ion-item>
    <ion-item routerLink="/actionsheet">
      <ion-icon name="list-box" slot="start"></ion-icon>
      <ion-label>Action Sheet</ion-label>
    </ion-item>
    <ion-item routerLink="/cards">
      <ion-icon name="list-box" slot="start"></ion-icon>
      <ion-label>Cards</ion-label>
    </ion-item>
    <ion-item routerLink="/ionchip">
      <ion-icon name="switch" slot="start"></ion-icon>
      <ion-label>Chip</ion-label>
    </ion-item>
    <ion-item routerLink="/floatingbutton">
      <ion-icon name="add-circle-outline" slot="start"></ion-icon>
      <ion-label>Floating Button</ion-label>
    </ion-item>
    <ion-item routerLink="/grid">
      <ion-icon name="grid" slot="start"></ion-icon>
      <ion-label>Grid</ion-label>
    </ion-item>
    <ion-item routerLink="/item">
      <ion-icon name="pricetag" slot="start"></ion-icon>
      <ion-label>Item</ion-label>
    </ion-item>
    <ion-item routerLink="/list">
      <ion-icon name="list" slot="start"></ion-icon>
      <ion-label>List</ion-label>
    </ion-item>
    <ion-item routerLink="/menu">
      <ion-icon name="menu" slot="start"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-item>
    <ion-item routerLink="/radio">
      <ion-icon name="radio-button-on" slot="start"></ion-icon>
      <ion-label>Radio Button</ion-label>
    </ion-item>
    <ion-item routerLink="/popover">
      <ion-icon name="albums" slot="start"></ion-icon>
      <ion-label>Pop Over</ion-label>
    </ion-item>
    <ion-item routerLink="/progressbar">
      <ion-icon name="podium" slot="start"></ion-icon>
      <ion-label>Progress Bar</ion-label>
    </ion-item>
    <ion-item routerLink="/refresher">
      <ion-icon name="refresh" slot="start"></ion-icon>
      <ion-label>Refresher</ion-label>
    </ion-item>
    <ion-item routerLink="/searchbar">
      <ion-icon name="search" slot="start"></ion-icon>
      <ion-label>Search Bar</ion-label>
    </ion-item>
    <ion-item routerLink="/reorder">
      <ion-icon name="reorder" slot="start"></ion-icon>
      <ion-label>Reorder</ion-label>
    </ion-item>
    <ion-item routerLink="/segment">
      <ion-icon name="browsers" slot="start"></ion-icon>
      <ion-label>Segment</ion-label>
    </ion-item>
    <ion-item routerLink="/select">
      <ion-icon name="checkmark" slot="start"></ion-icon>
      <ion-label>Select</ion-label>
    </ion-item>
    <ion-item routerLink="/toast">
      <ion-icon name="notifications" slot="start"></ion-icon>
      <ion-label>Toast</ion-label>
    </ion-item>
    <ion-item routerLink="/toggle">
      <ion-icon name="arrow-dropdown" slot="start"></ion-icon>
      <ion-label>Toggle</ion-label>
    </ion-item>
    <ion-item routerLink="/toolbar">
      <ion-icon name="hammer" slot="start"></ion-icon>
      <ion-label>Toolbar</ion-label>
    </ion-item>
    <ion-item routerLink="/showmodal">
      <ion-icon name="eye" slot="start"></ion-icon>
      <ion-label>Modal</ion-label>
    </ion-item>
    <ion-item routerLink="/slide">
      <ion-icon name="albums" slot="start"></ion-icon>
      <ion-label>Slide</ion-label>
    </ion-item>
  </ion-list>

</ion-content>