<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons> 
    <ion-title >Button</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon icon="add"></ion-icon>                 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="primary">Botton</ion-button>
  <br>
  <ion-button expand="full">Full Button</ion-button>
  <br>
  <ion-button shape="round">Round Button</ion-button>
  <br>
  <ion-button expand="block" fill="outline">Outline + Block</ion-button>
</ion-content>
