<ion-header>
  <ion-toolbar>
      <ion-button slot="start">
          <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-button>
    <ion-title>input</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-input></ion-input>
    <br>
    <ion-input value="custom"></ion-input>
    <br>
    <ion-input placeholder="Enter Input"></ion-input>
    <br>
    <ion-input clearInput value="clear me"></ion-input>
    <br>
    <ion-input type="number" value="333"></ion-input>
</ion-content>
